html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-color: #efefef;
}

.slide-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52vh;
  background-color: #efefef;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.container2 {
  width: 50%;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}

.header {
  background-color: #111110;
  padding: 8px 0;
  box-shadow: 0 8px 12px -1px rgba(0, 0, 0, 0.5);
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation {
  column-gap: 80px;
  display: flex;
  list-style: none;
}

.navigation a {
  color: #efefef;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.navigation a:hover {
  color: #278acb;
}

.navigation__button {
  background-color: #111110;
  border: 0;
  display: none;
  justify-content: space-around;
  width: 40px;
  padding: 4px;
  height: 40px;
  margin-top: 5px;
}

.navigation__button__line {
  background-color: #efefef;
  transition: 0.4s;
  transform-origin: left;
  height: 4px;
  width: 100%;
}

.navigation__button--open .navigation__button__line:nth-child(2) {
  opacity: 0;
}

.navigation__button--open .navigation__button__line {
  transform: rotate(35deg) translate(0, 5px);
}

.navigation__button--open .navigation__button__line:last-child {
  transform: rotate(-35deg) translate(-3px);
}

.swiper {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 220px;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0006);
}

.swiper-slide img {
  display: block;
  width: 100%;
}

h1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #278acb;
  margin-top: 40px;
  padding-bottom: 10px;
  border-bottom: 2px solid #111110;
}

p {
  font-family: "Open Sans", sans-serif;
  color: #111110;
  font-size: 14px;
}

.grid {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 60vh 60vh 60vh;
}

.block1 {
  display: flex;
  width: 100%;
}

.go-to-top {
  position: fixed;
  right: 20px;
  bottom: 50px;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.margin2 {
  margin-top: 30px;
}

.margin3 {
  margin-top: 20px;
}

button {
  background-color: #278acb;
  padding: 20px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: #efefef;
  font-size: 18px;
}

.contact-tekst {
  margin-top: 30px;
  grid-column: 1/2;
  width: 75%;
  text-align: left;
}

.form {
  grid-column: 2/3;
  margin-top: 50px;
  margin-bottom: 50px;
  height: auto;
}

.contact-tekst2 {
  grid-column: 1/2;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 100%;
}

.form2 {
  grid-column: 2/3;
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 50px;
  max-width: 90%;
}

iframe {
  height: 365px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #278acb;
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}

.footer {
  background-color: #111110;
  display: flex;
  padding: 20px 0;
}

.left-text {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  color: #efefef;
  font-size: 14px;
}
.social {
  margin-top: 10px;
  width: 40px;
  background-color: #efefef;
  border-radius: 50%;
  border: 2px solid #efefef;
}

.social:hover {
  background-color: #278acb;
  border-color: #278acb;
}

.icon {
  text-align: center;
}

.right-text {
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  color: #efefef;
  font-size: 14px;
}

.go-to-top:hover #Vlammen {
  animation: vlamAnimatie 2s infinite;
}

#fcf-form {
  display: block;
}

.fcf-body {
  margin: 0;
  font-family: -apple-system, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #efefef;
  padding: 30px;
  padding-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  max-width: 100%;
}

.fcf-form-group {
  margin-bottom: 1rem;
}

.fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #efefef;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
  border: 1px solid #313131;
}

select.fcf-form-control[size],
select.fcf-form-control[multiple] {
  height: auto;
}

textarea.fcf-form-control {
  font-family: -apple-system, Arial, sans-serif;
  height: auto;
}

label.fcf-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.fcf-credit {
  padding-top: 10px;
  font-size: 0.9rem;
  color: #545b62;
}

.fcf-credit a {
  color: #545b62;
  text-decoration: underline;
}

.fcf-credit a:hover {
  color: #278acb;
  text-decoration: underline;
}

.fcf-btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .fcf-btn {
    transition: none;
  }
}

.fcf-btn:hover {
  color: #212529;
  text-decoration: none;
}

.fcf-btn:focus,
.fcf-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
  color: #efefef;
  background-color: #278acb;
  border-color: #278acb;
}

.fcf-btn-primary:hover {
  color: #efefef;
  background-color: #278acb;
  border-color: #278acb;
}

.fcf-btn-primary:focus,
.fcf-btn-primary.focus {
  color: #fff;
  background-color: #278acb;
  border-color: #278acb;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg,
.fcf-btn-group-lg > .fcf-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.fcf-btn-block {
  display: block;
  width: 100%;
}

.fcf-btn-block + .fcf-btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block,
input[type="reset"].fcf-btn-block,
input[type="button"].fcf-btn-block {
  width: 100%;
}

@keyframes vlamAnimatie {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

@media (max-width: 500px) {
  .navigation {
    display: none;
    flex-direction: column;
    padding: 14px 0;
    width: 100%;
  }

  .navigation--open {
    display: flex;
  }

  .navigation a {
    border-bottom: 2px solid #278acb;
    display: block;
    padding: 14px 0;
  }

  .navigation li:last-child a {
    border-bottom: 0;
  }

  .navigation__button {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .container2 {
    width: 90%;
  }
}

@media (max-width: 600px) {
  svg {
    width: 50px;
  }
}

@media (max-width: 600px) {
  iframe {
    height: 280px;
  }
}

@media (max-width: 500px) {
  .grid2 {
    display: block;
    margin-bottom: 50px;
  }

  .contact-tekst {
    width: 100%;
  }

  .contact-tekst p {
    width: 90%;
    margin-bottom: 30px;
  }
}

@media (max-width: 340px) {
  .social {
    display: none;
  }
}
