html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-color: #061925;
}

.slide-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 79vh;
  background-color: #061925;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.container2 {
  width: 60%;
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  background-color: #002534;
  padding: 8px 0;
  box-shadow: 0 8px 12px -1px rgba(0, 0, 0, 0.5);
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  margin-top: 5px;
}

.navigation {
  column-gap: 80px;
  display: flex;
  list-style: none;
}

.navigation a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.navigation a:hover {
  color: #009bdd;
}

.navigation__button {
  background-color: #002534;
  border: 0;
  display: none;
  justify-content: space-around;
  width: 40px;
  padding: 2px;
  height: 40px;
  margin-top: 5px;
}

.navigation__button__line {
  background-color: white;
  height: 4px;
  width: 100%;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 220px;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0006);
}

.swiper-slide img {
  display: block;
  width: 100%;
}

h1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: white;
}

p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 80vh 80vh 80vh;
}

.block1 {
  height: 500px;
  background-color: red;
}

.block2 {
  height: 500px;
  background-color: blue;
}

.block3 {
  height: 500px;
  background-color: orange;
}

.footer {
  display: flex;
  padding: 8px 0;
}

.left-text {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  color: white;
  font-size: 14px;
}

.social {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
}

.social:hover {
  background-color: #009bdd;
  border-color: #009bdd;
}

.icon {
  text-align: center;
}

.right-text {
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  color: white;
  font-size: 14px;
}

@media (max-width: 500px) {
  .navigation {
    display: none;
    flex-direction: column;
    padding: 14px 0;
    width: 100%;
  }

  .navigation--open {
    display: flex;
  }

  .navigation a {
    border-bottom: 1px solid white;
    display: block;
    padding: 14px 0;
  }

  .navigation li:last-child a {
    border-bottom: 0;
  }

  .navigation__button {
    display: flex;
    flex-direction: column;
  }
}
